
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffffbb;
}

*{
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
  padding-top: 20px;
}
h2{
  margin: 20px auto;
}
button{
  background-color:#ffffff;
  border: 1px solid  #888383;
  cursor: pointer;
  padding: 5px;
  max-width: 100px;
  width: 100%;
}
.changePage-btn{
  position: fixed;
  bottom: 30px;
  right: 30px ;
  padding: 15px ;
  border-radius: 50%;
  background-color:#232f3e;
  width: auto;
  color: rgb(252, 198, 52);
  font-size: 1.1rem;
  display: flex;
}
.changePageQuantity{
  position: absolute;
  top: -15%;
  left: 0;
  font-size: 1rem;
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 50%;
  background-color:  rgb(252, 198, 52);
  height: auto;
  width: auto;
}

/*css login page*/


